<phpunit>
    <testsuites>
        <testsuite name="Withdrawal">
            <directory suffix="Test.php">test/withdraw</directory>
        </testsuite>
    </testsuites>
    <!--
    <testsuites>
        <testsuite name="Operation">
            <directory suffix="Test.php">test</directory>
        </testsuite>
        
        <testsuite name="Output">
            <directory suffix="Test.php">test</directory>
        </testsuite>
       
    </testsuites>
     -->
</phpunit>
